---
import DashboardLayout from '../../components/DashboardLayout';
import FilesPage from '../../components/FilesPage';
import '../../styles/global.css';
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Files - Miraka & Co</title>
  <link rel="icon" type="image/png" href="/favicon.ico" />
</head>
<body style="margin: 0; padding: 0;">
  <FilesPage client:only="react" />
</body>
</html>
