---
import CreateProjectForm from '../../components/CreateProjectForm';
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Project - Miraka & Co</title>
  <link rel="icon" type="image/png" href="/favicon.ico" />
</head>
<body>
  <CreateProjectForm client:only="react" />
</body>
</html>
