---
import ClientsManagement from '../components/ClientsManagement';
import '../styles/miraka-portal.css';
---

<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Kunden - Orange Pro Clean</title>
  <link
    rel="icon"
    type="image/png"
    href="https://cdn.prod.website-files.com/6944470386300e196e5fc347/694ff7f9812baa5c05309365_Orange%20Pro%20Clean%20GmbH%20WEBICON.png"
  />
</head>
<body>
  <ClientsManagement client:only="react" />
</body>
</html>