---
import ManualBillingApprovalPage from '../components/ManualBillingApprovalPage';
---

<!doctype html>
<html lang="de" transition:name="root" transition:animate="none">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#ff6a00" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="icon" type="image/png" href="/icons/orange-pro-clean-webicon.png" />
    <title>Automationen & Rechnungsfreigaben | Orange Pro Clean</title>
  </head>
  <body>
    <ManualBillingApprovalPage client:only="react" />
  </body>
</html>
